[Unit]
Description=Follow-Me Drone Controller
After=network.target bluetooth.target

[Service]
Type=simple
User=pimaster
WorkingDirectory=/home/pimaster/followme_drone
ExecStart=/home/pimaster/followenv/bin/python3 /home/pimaster/followme_drone/follow_me.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
